@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="map"></div>
<div id="loading" style="display:none">Loading...</div>

<script src="~/Scripts/nk.leaflet.js"></script>
