@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section css{
  <link href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" rel="stylesheet" />
  <link href='Content/leaflet.draw/leaflet.draw.css' rel='stylesheet' />
  <link href='Content/markercluster/MarkerCluster.css' rel='stylesheet' />
  <link href='Content/markercluster/MarkerCluster.Default.css' rel='stylesheet' />
}

@section scripts{
  <script src="//cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <script src='Scripts/leaflet.draw/leaflet.draw-src.js'></script>
  <script src='Scripts/markercluster/leaflet.markercluster-src.js'></script>
  <script src='Scripts/wicket/wicket.js'></script>
  <script src='Scripts/wicket/wicket-leaflet.js'></script>
  <script src="~/Scripts/leaflet.geometryutil/leaflet.geometryutil.js"></script>

  <script src="~/Scripts/nk.leaflet.js"></script>
}

<div id="map"></div>
<div id="loading" style="display:none">Loading...</div>