<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	@RenderSection("css",false)
	<link href="~/Content/site.css" rel="stylesheet" />

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	@RenderSection("scripts",false)

	<title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>
